.navbar-custom {
  color: black;
  background: white;
}
.navbar-custom .navbar-toggle,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav li a {
  color: black;
}
.navbar-custom .navbar-nav li a::hover {
  color: rgba(167, 0, 0, 0.63);
}
.navbar-custom .navbar-brand {
  color: black;
}
.navbar-nav li.active a {
  border-radius: 6px;
}
header {
  background-image: url("../img/head.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
}
.skills {
  display: block;
}
audio {
  position: fixed;
  z-index: 999;
  height: 36px;
  bottom: 45px;
  right: 10%;
}
.listen {
  border: white solid 3px;
  color: white;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: bold;
}
.listen:hover {
  color: black;
}
section {
  padding: 60px 0;
}
#kontakt {
  padding-bottom: 0;
}
#kontakt .contact-data {
  text-align: center;
  margin-bottom: 40px;
}
#kontakt .contact-data a {
  color: grey;
  font-size: 20px;
}
.form-control {
  color: black;
}
.img-responsive {
  margin: auto;
}
.portfolio-modal .modal-content {
  min-height: initial;
}
hr.star-light {
  border-color: black;
}
hr.star-light:after {
  display: none;
  content: none;
}
