@media (min-width: 1200px) {
  .small-screens {
    display: none;
  }
}
@media (max-width: 1199px) {
  .large-screens {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-custom .navbar-brand {
    font-size: 1em;
  }
}
